// resets
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Cousine", monospace;
}

html {
	font-size: 62.5%;
}

h1,
h2,
h3 {
	line-height: 1.2;
	margin-bottom: 5rem;
}

h1 {
	font-size: clamp(5rem, 10vw, 7rem);
}

h2 {
	font-size: clamp(4.5rem, 10vw, 6rem);
}

h3 {
	font-size: 4.5rem;
	margin-bottom: 2.5rem;
}

p,
input {
	font-size: 2rem;
	transition: 0.2s;
}

input {
	width: 5ch;
	border: 0.2rem solid green;
	padding: 0.5rem;
}

// common styles
h1,
h2,
.countdown-wrapper {
	color: #ffff00;
}

.decoration-img {
	max-width: 30rem;
	height: auto;
}

// body
body {
	background-color: #b01b2e;
	text-align: center;
	padding: 5rem 0 0 0;
}

// main section
.main-section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 0 1.5rem;
}

// top section
.top-section {
	margin-bottom: 5rem;
}

.countdown-fireplace {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 5vw;
}

.countdown-wrapper {
	font-size: clamp(2.5rem, 5vw, 3.5rem);
	margin-bottom: 3rem;
	max-width: 50rem;
}

.fireplace-wrapper {
	$fireplace-size: min(80vw, 50rem);

	display: flex;
	flex-direction: column;
	align-items: center;
	width: $fireplace-size;
	height: $fireplace-size;
	background-color: #ffffff;
	margin: 0 auto;
	border-radius: 1rem;
}
.stockings-img {
	position: absolute;
	width: 30%;
	height: auto;
	z-index: 3;
}

.fire-area {
	position: relative;
	display: flex;
	justify-content: center;
	bottom: -23%;
	background-color: #000000;
	width: 75%;
	height: 75%;
	border-radius: 50% 50% 0 0;
}

// fire styles
.flame-wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	bottom: 4.5vw;
	font-size: 2.1rem;
	height: 100%;
	width: 100%;
	animation: flicker 3ms ease-in infinite;
}

.flame {
	position: absolute;
	bottom: 0;
	border-radius: 50% 0 50% 50%;
	transition: 1s;
	transform: rotate(-45deg) scale(0);
}

.flame-red {
	width: 48%;
	height: 48%;
	background-color: #ff4500;
	box-shadow: 0 0 2vw 3vw #ff4500;
}

.flame-orange {
	// left: 10px;
	width: 35%;
	height: 35%;
	background-color: #ffa500;
	box-shadow: 0 0 3vw 2.5vw orange;
}
.flame-gold {
	// left: 18px;
	width: 25%;
	height: 25%;
	background-color: #ffd700;
	box-shadow: 0 0 2vw 3vw #ffd700;
}
.flame-white {
	// left: 22px;
	width: 15%;
	height: 15%;
	background-color: #ffffe0;
	box-shadow: 0 0 2vw 3vw #ffffe0;
}

// .base {
// 	position: absolute;
// 	border-radius: 50%;
// }

.base-blue {
	width: 0.5%;
	height: 0.5%;
	background-color: #00008b;
	box-shadow: 0 0 2vw 2vw #00008b;
}

@keyframes flicker {
	0% {
		transform: rotate(-1deg);
	}
	20% {
		transform: rotate(2deg) scaleY(1.05);
	}
	40% {
		transform: rotate(-1deg);
	}
	60% {
		transform: rotate(1deg);
	}
	80% {
		transform: rotate(-1deg) scaleY(0.9);
	}
	100% {
		transform: rotate(1deg);
	}
}

.firewood {
	position: absolute;
	bottom: -10%;
	width: 80%;
	height: auto;
	z-index: 3;
}

// bottom section styles
.bottom-section {
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5rem;
}

.paper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	background-color: #79ff87;
	color: darkblue;
	max-width: 50rem;
	height: 55rem;
	border-radius: 1rem;
	padding: min(4vw, 2rem);
	padding-bottom: 5rem;
	overflow-y: scroll;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: darkblue;
	}

	.game-note {
		background-color: darkblue;
		color: white;
		padding: 0.5rem;
		border-radius: 1rem;
	}

	.text-source,
	a {
		word-break: break-word;
	}

	input {
		color: darkblue;
	}

	.decor-options-wrapper {
		display: flex;
		justify-content: center;
		gap: 1rem;
		flex-wrap: wrap;
	}

	.decor-option-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 13rem;
		// height: 20rem;
		padding: 0.5rem;
		border: 0.8rem solid darkblue;
		border-radius: 2rem;
		cursor: pointer;

		&:hover {
			background-color: hsla(0, 0%, 75%);
		}
	}

	.decor-option-img {
		width: 100%;
		height: auto;
	}
}

.bell-img {
	max-width: 15rem;
	height: auto;
	position: relative;
	bottom: 5rem;
}

.advent-calendar {
	max-width: 50rem;
}

.advent-btn-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;

	button {
		$btn-size: min(27vw, 8rem);

		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 25%;
		height: $btn-size;
		width: $btn-size;
		padding: 2rem;
		border: 0.5rem solid #ffffff;
		background-color: #006400;
		color: #ffffff;
		font-size: 4rem;
		font-weight: 700;

		&:hover {
			cursor: pointer;
			background-color: #00a000;
		}

		&:disabled {
			background-color: #000000;
			color: #000000;
			cursor: auto;
		}
	}
}

.snow-container {
	// position: absolute;
	// bottom: 0;
	// left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.snow-container svg {
	// position: relative;
	display: block;
	width: 300rem;
	height: 272px;
}

.snow-container .shape-fill {
	fill: #ffffff;
}
.deep-snow {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	background-color: #fff;
	width: 100%;
	height: 80rem;
}

.house-img,
.tree-img {
	max-width: 30rem;
	height: auto;
}

// for javascript

.scale-flame {
	transform: rotate(-45deg) scale(1);
}

button.btn-current-day {
	background-color: #0000ff;
	color: #ffff00;
}

.correct-answer {
	padding: 0;
	border: none;
	background: transparent;
}
